*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #f4d04e;
  --grey: #7f7f7f;
  --white: #ffffff;
  --black: #000000;
  --base-font-size: 16px;
}

@media screen and (max-width: 375px) {
  :root {
    --base-font-size: 14px;
  }
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  :root {
    --base-font-size: 14px;
  }
}

html {
  font-size: var(--base-font-size); /* Set the base font size */
}
